@font-face {
  font-family: 'Glacial Indifference';
  src: url('@/assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('@/assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: bold;
}

/* Dyslexia-friendly font definition */
@font-face {
  font-family: 'Dyslexie';
  src: url('@/assets/fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Dyslexie';
  src: url('@/assets/fonts/OpenDyslexic-Bold-Italic.otf') format('opentype');
  font-weight: bold;
}

/* Dyslexia mode styling */
.dyslexia-mode * {
  font-family: 'Dyslexie', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

/* Large cursor */
.large-cursor {
  cursor: url('@/assets/big-cursor2.png'), auto;
}

.large-text {
  font-size: 1.5em; /* You can adjust the size to fit your needs */
}

.spaced-text {
  letter-spacing: 0.1em; /* Adjust letter spacing */
  line-height: 1.8; /* Adjust line height */
}

.highlight-clickable {
  outline: 2px solid rgb(255, 0, 0);
  box-shadow: 0 0 10px rgb(255, 0, 0);
  transition: box-shadow 0.3s ease;
}


.reading-mask-overlay {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  z-index: 9999;
  pointer-events: none;
}

.mask-top {
  top: 0;
}

.mask-bottom {
  bottom: 0;
}

.mask-left {
  left: 0;
  width: 0%;
}

.mask-right {
  right: 0;
  width: 0%;
}

.reading-guide {
  position: fixed;
  height: 20px; /* Shorter height for the reading guide */
  background-color: rgba(0, 0, 0, 1); /* Semi-transparent yellow background */
  border: 2px solid rgba(255, 255, 0, 1);
  pointer-events: none;
  z-index: 9999;
  transition: top 0.1s ease, left 0.1s ease; /* Smooth movement for both top and left */
  width: 50%; /* Adjusted width */
}

.align-left h1, .align-left h2, .align-left h3, .align-left p, .align-left div, .align-left button {
  text-align: left;
}

.align-center h1, .align-center h2, .align-center h3, .align-center p, .align-center div, .align-center button {
  text-align: center;
}

.align-right h1, .align-right h2, .align-right h3, .align-right p, .align-right div, .align-right button {
  text-align: right;
}


/* Default font for the website */
body {
  font-family: 'Glacial Indifference', sans-serif;
  cursor: default;
}
